<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/read.css">
        <script src="/js/read.js" defer></script>
        <title>Happy Birthday</title>
    </head>

    <body>

        <h1><b>HAPPY BIRTHDAAAAYYYY !!!!!</b></h1>

        <div class="container">
            <% for(var i = 0; i < messages.length; i++) { %>
                <div class="content">
                    <% if(messages[i].name) { %>
                        <p>Envoyé par : <b><%= messages[i].name %></b></p>
                    <% } else { %>
                        <p><b>Ce message est anonyme</b></p>
                    <% } %>

                    <p class="text"><%= messages[i].content %></p>

                    <% if(messages[i].file_name) { %>
                        <img src="/img/uploaded/<%= messages[i].file_name %>" alt="photo">
                    <% } %>
                </div>
            <% } %>
        </div>

    </body>
</html>