<% if (result) { %>
    <p>Merci pour votre message</p>
<% } else{ %>
    <p>Il y a eu un problème avec l'envois de votre message. <br> 
        Veuillez réessayer ou contactez moi au <b>0601142164</b> si le problème persiste (je suis le frère de Mathieu)
    </p>
<% } %>