* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/website/confettis.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: white;
    text-align: center;
    margin: 50px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.delete {
    color: red;
    cursor: pointer;
    margin-top: 20px;
}

.content {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 10px;
    margin: 25px 0;
}

.content .text {
    margin: 20px 0;
}

.content img {
    width: 40%;
}