h1{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anonyme-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.anonyme-content p {
    margin-right: 10px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.text-content input {
    margin-bottom: 10px;
}

.file-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}